services:
  fastapi:
    build:
      context: .
      dockerfile: src/churn_project/api/Dockerfile
      # We can't simply use build: ./src/churn_project/api because Dockerfile copies files from outside that directory
      # We need pyproject.toml, poetry.lock, and src/ to build the image properly
    ports:
      - "8000:8000"
    depends_on:
      - mlflow
    environment:
      MLFLOW_TRACKING_URI: "http://mlflow:5000"  # Point FastAPI to the mlflow service with Docker DNS
    networks:
      - monitoring

  streamlit_app:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    ports:
      - "8501:8501"
    depends_on:
      - fastapi
    environment:
      FASTAPI_API_URL: "http://fastapi:8000"  # Point Streamlit to the fastapi service with Docker DNS
    networks:
      - monitoring

  prometheus:
    image: prom/prometheus:v3.8.0
    ports:
      - "9090:9090"
    volumes:
      - ./monitoring/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus_data:/prometheus
    networks:
      - monitoring

  grafana:
    image: grafana/grafana:12.3
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
    volumes:
      - grafana_data:/var/lib/grafana
    networks:
      - monitoring

volumes:
  prometheus_data:
  grafana_data:

networks:
  monitoring:
    driver: bridge
